
                                                        /* Navigation Buttons */
.btns {
    position: fixed;
    bottom: 2rem;

    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3rem;
    width: 100%;
    z-index: 50;
}

.btn {
    width: 7rem;
    padding: 1rem .5rem;
    font-size: 1rem;
    
    border: none;
    color: #fff;
       /* other styles */
       background: rgba(39, 39, 39, 0.1);
       backdrop-filter: blur(10px);
        /* fallback for old browsers */
       -webkit-backdrop-filter: blur(60px);
       border: 1px solid rgba(255, 255, 255, 0.2);
    
}

.btn:hover {
    scale: 1.1;
    cursor: pointer;
    border: 2px solid #899651;
    z-index: 5;
}

.btn a {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;

}


#resume-word{
    margin: 0;
    text-decoration: none;
}





 
                                                            /* Home Section */

.cursor {
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }


  .hero-section {
    height: 100vh;
    height: 100dvh;
    min-height: 100vh;
    min-height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-section h1 {
    color:#CAD194;
    font-size: 6rem;
    margin: 0;
    transition: 0.5s;
    text-align: center;
}

.hero-section h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    cursor: default;
}

.hero-section h4 {
    color: #fff;
    font-size: 1.25rem;
    margin: 0;
}

.hero-section h4:hover {
    -webkit-text-stroke: .5px #fff;
    color: transparent;
    cursor: default;
}





/* *{
    outline: 1px red solid;
} */



                                            /* About Section */


.about-section {
    height: 100vh;
    height: 100dvh;
    min-height: 100vh;
    min-height: 100dvh;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}


.about {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 8rem;
    padding-top: 1rem;
}

.selfie {
    width: 65%;
    align-self: center;
}

.about-paragraph {
    color: #fff;
    padding: 1rem;
    /* border-radius: 2rem; */
    border: none;

    /* other styles */
    background: rgba(39, 39, 39, 0.1);
    backdrop-filter: blur(30px);
     /* fallback for old browsers */
    -webkit-backdrop-filter: blur(60px);
    border: 2px solid rgba(255, 255, 255, 0.2);
   
}



                                            /* Experience Section */


.experience-section {
    overflow: hidden;
    min-height: 100vh;
    min-height: 100dvh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;

    margin: 0;
    padding: 0;

}

.experience-section-bg {
    height: 80%;
    padding: 0 1rem 2rem 1rem;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 10rem;
    



     /* other styles */
     background: rgba(39, 39, 39, 0.1);
     backdrop-filter: blur(30px);
      /* fallback for old browsers */
     -webkit-backdrop-filter: blur(60px);
     border: 2px solid rgba(255, 255, 255, 0.2);
}

.experience-section h2 {
    font-size: 2rem;
}

.experience-section h4 {
    margin: 0;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}

.tech-stack-certs {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.certs {
    display: flex;
    gap: 2rem;
}

.codecademy {
    padding-top: 3.35rem;
}

.tech-stack {
    padding-left: 2.5rem;
}

.skills-title {
    font-size: 2rem;
    margin: 0;
}






.codecademy-logo {
    width: 15em;
    padding-bottom: 1rem;
}

.codecademy-logo:hover {
    scale: 1.1;
}


.cityyear-logo {
    width: 6rem;
    margin-right: 2rem;
    padding-bottom: 1rem;
}

.cityyear-logo:hover {
    scale: 1.1;
}

.NCCC-logo {
    width: 5.5rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.NCCC-logo:hover {
    scale: 1.1;
}










                                                /* Projects Section */


.projects-section {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;

    height: 100vh;
    height: 100dvh;
    min-height: 100vh;
    min-height: 100dvh;
    width: 100%;

   
}


.projects {
    display: flex;
    justify-content: space-evenly; 
    align-items: center;



    width: 60%;
    height: 70%;

     /* other styles */
     background: rgba(39, 39, 39, 0.1);
     backdrop-filter: blur(30px);
      /* fallback for old browsers */
     -webkit-backdrop-filter: blur(60px);
     border: 2px solid rgba(255, 255, 255, 0.2);
}


.project {
    width: 25%;
    height: 70%;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: #fff;
    text-align: center;


     /* other styles */
     background: rgba(39, 39, 39, 0.1);
     backdrop-filter: blur(30px);
      /* fallback for old browsers */
     -webkit-backdrop-filter: blur(60px);
     border: 1px solid rgba(255, 255, 255, 0.2);
}


.project-image {
    
    height: 71%;
    
}


.project-image img {
    width: 100%;
    min-height: 100%;
}

.project-image img:hover {
    scale: 1.1;
    cursor: pointer;
}


                                        /* iPad media queries */

@media only screen and (max-width: 68rem) and (min-width: 27.5rem) {
.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    max-width: 80%;
    
    
    padding-bottom: 8rem;
    position: unset;
    top: auto;
    left: auto;
}

.experience-section-bg {
    padding: 0 1rem 1rem 1rem;
    margin: 1rem auto;
    margin-bottom: 8rem;
}

.projects {
    display: flex;
    flex-direction: column;
    height: 90%;
    margin-bottom: 8rem;
    

    
}

.project {
    width: 60%;
    height: 40%;

     /* other styles */
     background: rgba(39, 39, 39, 0.1);
     backdrop-filter: blur(30px);
      /* fallback for old browsers */
     -webkit-backdrop-filter: blur(60px);
     border: 2px solid rgba(255, 255, 255, 0);
}

}


                                            /* iPhone media queries */

@media only screen and (max-width: 27rem) {

.btns {
    bottom: 0;

}

.btn a {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;

}

                                                /* About Section */

.about-section {
    justify-content: center;
    height: unset;
   
}

.about {
    max-width: 80%;
 
}

.selfie {
    width: 80%;
}

.about-paragraph {
    transform: translate(0);
}

                                                /* Experience Section */
.experience-section {
    gap: 0;

    height: unset;
    overflow: visible;
    padding-bottom: 5rem;
}


.experience-section-bg {
    padding: 0 1rem 1rem 1rem;
    margin: 1rem auto;
   
}


.cell {
    padding-top: 0;
    padding-bottom: 1rem;
    margin: 0;
}

.tech-stack-certs {
    gap: 0;
    padding-bottom: 2rem;
    
}

.certs {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.tech-stack-certs {
    padding-bottom: 2rem;
}

.codecademy {
    padding-top: 1rem;
}


.experience-section-bg {
    margin: 2rem;
}










                                                /* Projects Section */

.projects-section {
    height: unset;
    overflow: visible;
    
}


.projects {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1rem;
    
    height: 100%;
    width: 90%;
    padding-top: 1rem;
    padding-bottom: 7rem;
 


    /* other styles */
    background: none;
    backdrop-filter: none;
    /* fallback for old browsers */
    -webkit-backdrop-filter: blur(60px);
    border: none;
}


.project {
    width: 75%;
    height: 40%;
    margin: 0;

    color: #fff;
    text-align: center;


     /* other styles */
     background: rgba(39, 39, 39, 0.1);
     backdrop-filter: blur(30px);
      /* fallback for old browsers */
     -webkit-backdrop-filter: blur(60px);
     border: 1px solid rgba(255, 255, 255, 0.2);
}

.project-image {
    height: 100%;
}
   
}


